<div ng-hide="delay" class="row delay">
    <div class="col-md-7">
        <h2>Issue</h2>
        <span ng-if="isAssignee || authService.isAdmin()">
            <a ng-href="#/issues/{{issueId}}/edit" class="btn btn-success btn-sm">Edit Issue</a>
        </span>
    </div>
    <div class="col-md-7">
        <div class="div-info">
            <p><strong>Title: </strong>{{issueData.Title}}</p>
            <p><strong>Key: </strong>{{issueData.IssueKey}}</p>
            <p><strong>Description: </strong>{{issueData.Description}}</p>
            <p><strong>AssigneeId: </strong>{{issueData.Assignee.Id}}
            <span class="gray-info">
                ({{issueData.Assignee.Username}})
            </span>
            </p>
            <p><strong>PriorityId: </strong>{{issueData.Priority.Id}}
            <span class="gray-info">
                ({{issueData.Priority.Name}})
            </span>
            </p>
            <p><strong>DueDate: </strong>{{issueData.DueDate | date}}</p>
            <p><strong>Author: </strong>{{issueData.Author.Username}}</p>
            <p>
                <strong>Project: </strong>
                <a ng-href="#/projects/{{issueData.Project.Id}}">{{issueData.Project.Name}}</a>
            </p>
            <p><strong>Status: </strong>{{issueData.Status.Name}}</p>
            <p><strong>Labels: </strong>
            <span ng-if="issueData.Labels.length === 0">
                None
            </span>
            <span ng-repeat="label in issueData.Labels">
                <span class="label label-info">
                    {{label.Name}}
                </span>
                <!--added space between every labels-->
                &nbsp;
            </span>
            </p>
        </div>
    </div>


    <div ng-if="authService.isAdmin()" class="col-md-4">
        <h2>Available Statuses</h2>
        <span ng-if="issueData.AvailableStatuses.length === 0">None</span>
        <table class="all-projects-table table table-responsive table-hover">
            <thead>
            <tr>
                <th class="col-md-1">Status</th>
                <th class="col-md-1">Action</th>

            </tr>
            </thead>
            <tbody ng-repeat="status in issueData.AvailableStatuses">
            <tr ng-if="issueData.AvailableStatuses.length > 0">
                <td>{{status.Name}}</td>
                <td ><button class="btn btn-success btn-xs" ng-click="changeStatus(status.Id)">Change Status</button></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-10" ng-if="isAssignee || isProjectLeader || authService.isAdmin()">
        <h3>Write new comment</h3>
        <form name="issueCommentsForm">
            <div class="form-group">
                <label for="comment"></label>
                <textarea id="comment" class="form-control" ng-model="comment.Text" required="required"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="addIssueComment(comment)" ng-disabled="issueCommentsForm.$invalid">Add Comment</button>
            </div>
        </form>
    </div>

    <div class="col-md-10">
        <h3 class="text-center">Comments:</h3>
        <h4 ng-if="issueComments.length === 0" class="text-center gray-info">No Comments</h4>
        <div ng-if="issueComments.length > 0" ng-repeat="comment in issueComments">
            <div class="panel panel-primary">
                <div class="panel-heading div-info">
                    {{comment.Author.Username}} - {{comment.CreatedOn}}
                </div>
                <div class="panel-body div-info">
                    {{comment.Text}}
                </div>
            </div>
        </div>
    </div>
</div>