<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Issue Tracking System</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul ng-if="authService.isLoggedIn()" class="nav navbar-nav">
                <li><a href="#/">Dashboard</a></li>
                <li ng-if="authService.isAdmin()"><a href="#/admin">Admin Dashboard</a></li>
                <li ng-if="authService.isAdmin()"><a ng-href="#/users/makeadmin">Make Admin</a></li>
            </ul>

            <ul ng-if="authService.isAnonymous()" class="nav navbar-nav navbar-right">
                <li><a ng-href="#/register">Register</a></li>
                <li><a href="#/login">Login</a></li>
            </ul>

            <ul ng-if="authService.isLoggedIn()" class="nav navbar-nav navbar-right">
                <li><a class="dropdown-toggle" data-toggle="dropdown" role="button">Hello {{authService.getCurrentUser().userName}}</a>
                    <ul class="dropdown-menu">
                        <li><a href="#/profile/password">Change Password</a></li>
                        <li><a href="#/" ng-click="logout()">Logout</a></li>
                    </ul>
            </ul>
        </div>
    </div>
</nav>
