<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Issue Tracking System</a>
        </div>
        <ul ng-if="authService.isAnonymous()" class="nav navbar-nav">
            <li><a href="#/register">Register</a></li>
            <li><a href="#/login">Login</a></li>
        </ul>

        <ul ng-if="authService.isLoggedIn()" class="nav navbar-nav navbar-right">
            <li ng-if="authService.isLoggedIn()">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">{{authService.getCurrentUser().userName}}</a>
                <ul class="dropdown-menu">
                    <li><a href="#/" ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>