body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    margin:0;
}

#app-header {
    background-color: #A9D18E;
    border: #507E32 1px solid;
    text-align: center;
    padding: 5px;
    font-size: 16pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.5px 0.5px 1px;
    margin: 5px;
}

#app-header .user-area {
    float: right;
    font-size: 11pt;
    font-weight: normal;
    margin: 5px 5px 0 0;
}

#app-header .user-area span {
    margin-right: 15px;
}

/*#app-footer {*/
/*clear: both;*/
/*background-color: #A9D18E;*/
/*border: #507E32 1px solid;*/
/*text-align: center;*/
/*padding: 5px;*/
/*font-size: 12pt;*/
/*font-weight: normal;*/
/*color: black;*/
/*text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;*/
/*margin: 5px;*/
/*}*/

ul.pagination {
    display: table;
    margin: 15px auto;
}

ul.ads {
    padding: 0;
}

ul.ads li {
    list-style-type: none;
}

.box {
    width: 100%;
    display: block;
    background: cornflowerblue;
    border: 1px solid;
    margin: 15px 0;
    padding: 10px;
    box-shadow: rgba(80, 126, 50, 0.5) 0.5px 0.5px 3px;
}

.box h1 {
    margin: 0 0 10px 0;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
}

.box h2 {
    margin: 0 0 10px 0;
    font-size: 16pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
}

ul.sidebar-menu {
    padding: 0px 5px;
}

ul.sidebar-menu li {
    list-style-type: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0);
    padding: 2px;
    color: #1c381c;
}

ul.sidebar-menu li:hover {
    background: #9ec684; ;
}

ul.sidebar-menu li.special {
    font-style: italic;
}

ul.sidebar-menu li.selected {
    background: #DAA600;
    border: 1px solid #7F6000;
}

ul.sidebar-menu li a, ul.sidebar-menu li a:focus {
    outline: none;
    display: block;
    text-decoration: none;
    color: #1c381c;
}

.button, .button:focus {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    background: #70AD47;
    border: 2px solid #507E32;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    margin: 5px 10px 0px 10px;
    outline: none;
}

.button:hover {
    background: #87c649;
    border: 2px solid #649636;
    text-decoration: none;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    cursor: pointer;
}

.link {
    color: #2E75B6;
    text-decoration: none;
    padding: 0;
    border-bottom: 1px dotted #2E75B6;
    cursor: pointer;
}

.link:hover {
    color: #29619d;
    text-decoration: none;
}

.no-data {
    font-size: 18px;
}

.image-box {
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 1px solid rgba(100, 155, 63, 0.51);
    text-align: center;
}

.image-box:before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.image-box img, .image-box p {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.ad-image {
    max-width: 150px;
    max-height: 150px;
}

.footer-basic-centered{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;

    padding: 45px;
    margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
    color:  #8d9093;
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-basic-centered .footer-links{
    list-style: none;
    font-weight: bold;
    color:  #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-basic-centered{
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto{
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }

    .footer-basic-centered .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a{
        line-height: 1.8;
    }
}

/*Login form*/

body{background: #eee url(http://subtlepatterns.com/patterns/sativa.png);}
html,body{
    position: relative;
    height: 100%;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

